<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>

    <h1>VC -- HERE -- </h1>
    <h3 id='lau'></h3>

<script>
    var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

    ws.onopen = function(){
        console.log("Websocket Connected...")
        ws.send("Lau tyo connect vo hai")
    }

    ws.onmessage = function(event){
        console.log("Backend bata message aayo hai.." , event)
        document.getElementById('lau').innerText = event['data']

    }

    ws.onerror = function(event){
        console.log("Error Occurred ..." , event)
    }

    ws.onclose = function(event){
        console.log("Websocket DisConnected..." , event)
    }


</script>
    
</body>
</html>